{% extends 'users/base.html' %}
{% load myfilters %}
{% block title %}
  Register Page
{% endblock %}
{% block content %}
<div class="new-container-reg">
    <h1 class="form-title">Добро пожаловать</h1>
    <form method="POST">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <div id="form_errors">
            {% for key, value in form.errors.items %}
              <strong>{{ value }}</strong>
            {% endfor %}
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      {% endif %}
      <div class="form-group">
        <label class="mb-1" for="{{ form.username.id_for_label }}">Имя пользователя</label>
        {{ form.username|addclass:"form-input" }}
      </div>
  
      <div class="form-group">
        <label class="mb-1" for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email|addclass:"form-input" }}
      </div>
  
      <div class="form-group">
        <label class="mb-1" for="{{ form.password1.id_for_label }}">Пароль</label>
        {{ form.password1|addclass:"form-input" }}
        {% if form.errors.password %}
          <div class="invalid-feedback">{{ form.errors.password }}</div>
        {% endif %}
      </div>
  
      <div class="form-group">
        <label class="mb-1" for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
        {{ form.password2|addclass:"form-input" }}
      </div>
  
      <div class="form-reg">
        <button type="submit" class="button">Зарегистрироваться</button>
      </div>
      <div class="make-center">
         <a class="text" href="{% url 'login' %}">Уже есть аккаунт? Войдите</a>
      </div>
     
    </form>
        
  </div>
{% endblock %}
